.card {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin: 10 auto; /* This automatically sets left/right margins */
  border-radius: 13px;
  box-shadow: 1px 1px 3px grey;
  position: relative;
  padding: 50px;
  text-align: center;

}

.card h2 {
  text-align: left;
}
